<div class="form-label-group">
  <input
    (input)="onChange($event.target.value)"
    (blur)="onTouched()"
    [id]="label"
    [type]="type"
    class="form-control"
    [ngClass]="{
      'is-invalid': controlDir?.control.invalid && controlDir?.control.touched,
      'is-valid': controlDir?.control.valid && controlDir?.control.touched
    }"
    [placeholder]="label"
  />
  <label [for]="label">{{ label }}</label>
  <div
    class="invalid-feedback"
    *ngIf="
      controlDir?.control.invalid &&
      controlDir?.control.touched
    "
  >
    <span class="text-danger" *ngIf="controlDir.control.errors?.required">
      {{ label }} is required
    </span>
    <span class="text-danger" *ngIf="controlDir.control.errors?.pattern">
      {{ label }} format is invalid
    </span>
  </div>
</div>
