<div class="card h-100 box-shadow">
  <img
    class="card-img-top img-fluid bg-info"
    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
    alt="{{ product.name }}"
    style="height: 225px; width: 100%; display: block;"
    [src]="product.pictureUrl"
    data-holder-rendered="true"
  />
  <div class="card-body d-flex flex-column">
    <a href="#">
      <h6 class="text-uppercase">{{ product.name }}</h6>
    </a>
    <span class="mb-2">{{ product.price | currency }}</span>

    <div class="btn-group mt-auto">
      <button
        type="button"
        class="btn btn-outline-secondary fa fa-shopping-cart"
      ></button>
      <button type="button" class="btn btn-outline-secondary" (click)="goToProductDetails(product.id)">
        View
      </button>
    </div>
  </div>
</div>
